<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:multiArch="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Voicechanger.Module">
        <activity
            android:name=".ModuleEntryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Root voicechanger with live config, diagnostics, recommended LSPosed scope, and native capture hooks." />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/recommended_scopes" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />

        <provider
            android:name=".VoiceConfigProvider"
            android:authorities="com.qwulise.voicechanger.module.config"
            android:exported="true" />
    </application>

</manifest>
